@model SalesWebMvc.Models.Departament

@{
    ViewData["Title"] = "Excluir Departamento";
}

<h2>@ViewData["Title"]</h2>

<h3>Confirma a exclusão do Departamento (@Html.DisplayFor(model => model.Name))?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-success" /> |
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </form>
</div>
