@model SalesWebMvc.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonType" class="control-label"></label>
                <input asp-for="PersonType" class="form-control" />
                <span asp-validation-for="PersonType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CnpjCpf" class="control-label"></label>
                <input asp-for="CnpjCpf" class="form-control" />
                <span asp-validation-for="CnpjCpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NickName" class="control-label"></label>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Identification" class="control-label"></label>
                <input asp-for="Identification" class="form-control" />
                <span asp-validation-for="Identification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateRegistration" class="control-label"></label>
                <input asp-for="StateRegistration" class="form-control" />
                <span asp-validation-for="StateRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MunicipalRegistration" class="control-label"></label>
                <input asp-for="MunicipalRegistration" class="form-control" />
                <span asp-validation-for="MunicipalRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Website" class="control-label"></label>
                <input asp-for="Website" class="form-control" />
                <span asp-validation-for="Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumBank" class="control-label"></label>
                <input asp-for="NumBank" class="form-control" />
                <span asp-validation-for="NumBank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BankName" class="control-label"></label>
                <input asp-for="BankName" class="form-control" />
                <span asp-validation-for="BankName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgencyBank" class="control-label"></label>
                <input asp-for="AgencyBank" class="form-control" />
                <span asp-validation-for="AgencyBank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditLimit" class="control-label"></label>
                <input asp-for="CreditLimit" class="form-control" />
                <span asp-validation-for="CreditLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UptadeDate" class="control-label"></label>
                <input asp-for="UptadeDate" class="form-control" />
                <span asp-validation-for="UptadeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

