@model SalesWebMvc.Models.Category

@{
    ViewData["Title"] = "Exclusão Categoria";
}

<h2>@ViewData["Title"]</h2>

<h3>Confirma a excluisão da Categoria (@Html.DisplayFor(model => model.Description))?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-success" /> |
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </form>
</div>
